.icon-page .icon-item[data-v-6c0852be] {
  background-color: #f7f7f7;
  position: relative;
}
.icon-page .icon-item i[data-v-6c0852be] {
    font-size: 28px;
    color: #1e1e1e;
}
.icon-page .icon-item span[data-v-6c0852be] {
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    padding: 0 5px;
    text-align: center;
}

