.phone-action-sheet {
  font-size: 15px;
}
.phone-action-sheet a {
    color: #333333;
}
.phone-action-sheet a::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
}
.phone-action-sheet span {
    position: absolute;
    left: 10px;
    color: #ffb403;
}

